body{
  color: #FAFAFA;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #FAFAFA;
  &:active{
    color: #FAFAFA;
  }
  &:visited{
    color: #FAFAFA;
  }
}

.container{
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, .8);
}
.inner{
  padding: 30px;
}
.hoverShadow{
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0), 0 5px 10px 17px rgba(0, 0, 0, 0.5);
}

.header{
  margin-bottom: 30px;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
}
.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerSetting{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSeparator{
  margin: 0;
}
.headerSettingIcon{
  width: 30px;
  color: #fafafa;
}

.formInput{
  color: #FAFAFA;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: #607D8B solid 1px;
  padding: 10px 0;
  max-width: 350px;
  flex-grow: 1;
}
.formWrapper{
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-left: #9E9E9E solid 2px;
}
.formFormArea{
  flex-grow: 1;
}
.formBlock{
  display: flex;
  margin-top: 5px;
  &:first-child{
    margin-top: 0;
  }
}
.formItemSection{
  margin: 5px 5px 0 5px;
}
.formHeader{
  margin: 0;
}
.formInputArea{
}
.formDeleteButtonWrapper{
  width: 60px;
  flex-shrink: 1;
}
.formDeleteButton{
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
}
.formDeleteButtonImage{
  width: 20px;
  color: #fafafa;
}
