body{
  background-color: #607D8B;
  color: #212121;
  font-size: 16px;
}

.container{
  box-sizing: border-box;
  background-color: #FAFAFA;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.inner{
  padding: 30px;
}

.header{
  margin-bottom: 30px;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerSetting{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerSeparator{
  margin: 0;
}
.headerSettingIcon{
  width: 30px;
  color: #212121;
}
